.tabBar{
    width: 100%; 
    height: 40px; 
    display: flex; 
    background-color: #edece7;
    font-size: 13px;
    font-weight: 200;
    box-sizing: border-box;
    border-radius: 15px 15px 0 0;
    padding: 6px 5px; 
}

.leftTabBar{
    display: flex; 
    padding: 0 5px; 
    max-width: 500px;
    overflow-y: scroll; 
    justify-content: space-around;
}

.dropDownTab{
    width: 50px;
    margin-left: auto;
    z-index: 2;
    position: relative; 
}

.dropDownIcon{
    width: 30px; 
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab{
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 15px; 
    padding: 0 10px; 
    margin-right: 3px; 
}

.icon{
    width: 22px;
    height: 22px; 
}
.webTab p{
    margin-left: 3px; 
    display: inline-block;
}

.chromeIcon{
    width: 15px;
    height: 15px; 
    padding: 5px; 
}

.chromeTab p{
    margin-left: 2px; 
}


.mobileIcon{
    width: 18px; 
    height: 18px; 
}

.mobileTab p{
    margin-left: 2px; 
}

.tabHover{
    transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: 1.5px solid transparent;
}

.tabHover:hover{
    border: 1.5px solid #199b7f;
    background-color: #effff4;
    color: #199b7f;
    cursor: pointer;
}

.activeTab{
    background-color: white;
    border: 1.5px solid #199b7f;
    color: #199b7f;
}

.slackDropDown{
    position: absolute; 
    width: 120px;
    height: 40px; 
    padding: 5px; 
    box-sizing: border-box;
    border: 1px solid #edece7; 
    top: 120%; 
    left: -145%; 
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 3px 5px #c3c3c3;
}

.slackTab{
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slackTab:hover{
    cursor: pointer;
    background-color: #effff4;
    color: #199b7f;
}

.slackVisible{
    display: block;
}


